__pycache__/
.ipynb*
.vscode/

03.2_TrainNN.ipynb
*_log.ipynb
test.py
*.sh

wandb/
models/
!models/dna04.json
fig/
data/misc/
data/wandb/
data/wandb_gnn/
data/processed/archive
!data/models

*.wav
*.pdf
*.gz
*_metrics.json
data/models/raw/uv_n=96.csv