__pycache__/
.ipynb*
.vscode/
.DS_Store
*/.DS_Store
# 03.2_TrainNN.ipynb
*_log.ipynb
*_log_revision.ipynb
test.py
fit_ddX.py
val_json.py
*.sh
*.xlsx
*.whl
01.6_Revision.ipynb
02.1_UV_melt.ipynb

wandb/
models/
!models/dna04.json
fig/
data/misc/
data/wandb/
data/wandb_gnn/
data/series
data/series_merged
data/processed/archive
data/models/processed/distance_mat*
data/models/out
data/models/knn_out
data/models/raw/archive
data/uv_melt/ECLTables
data/uv_melt/UVmelting_WC68_1M/
!data/models
data/sequencing/
data/fitted_single_cluster/
data/annotation/NUPACK_RNA_*.csv
data/Fig5_model_performance.xlsx
data/nnnlib2b_replicates_single_cluster.tsv

*.wav
*.pdf
*.gz
*_metrics.json
data/models/raw/uv_n=96.csv
